/* Reset and common styles */
* {
    margin:0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Make on rem equal to 10 px instead of 16px */
html{
    font-size: 62.5%;
}
/* End of reset */

/* variables */
:root{
    --headColor: #CD853F;
    scroll-behavior: smooth;
}

/* Section 1 */

.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .2), 
    rgba(255, 255, 255, .3)), 
    url(images/bg-image.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-heading{
    font-size : 6rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--headColor);
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    /* letter-spacing: .5rem; */
    border-bottom: .3rem solid #fff;
    text-shadow: .2rem .2rem 1rem #555;
    /* angles the box sides */
    transform: skew(-10deg);
}

.myImage{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    /* make it a circle */
    border-radius: 50%;
    border: .7rem dotted var(--headColor);
    background-color: rgba(255, 255, 255, .7);
    padding: .5rem;
    opacity: .9;
}

.myName{
    font-size: 2rem;
    color: #fff;
    background-color: var(--headColor);
    padding: .5rem 1rem;
    margin: .5rem 3rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
}
#section-1-btn{
    font-size: 1.7rem; 
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: .1rem solid #333;
    padding: .3rem 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
/* End Section 1 */

* Project section */

#projects, #projects2 {
    display: flex;
}
.projects {
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;

}

.thecard {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;;
    margin: 5%;
    width: 45%;
    height: 150px;
}

.hikeCard {
    background-image: linear-gradient(to right bottom,
    rgba(128, 214, 113, 0.803),
    rgba(40, 180, 133, 0.803)),url("./img/harris-lake.jpg");
    background-size: cover;
}
.weatherCard {
    background-image: url("./img/weatherApp.png");
    background-size: cover;
}

.todoCard {
    background-image: url("./img/ToDoListSS.png");
    background-size: cover;
}

.drawCard{
    background-image: url("./img/DrawApp.png");
    background-size: cover;
}

.card:hover {
    transform: scale(1.05);
    color: #daa520;
}